@import '@/styles/mixins';
@import '@/styles/constants';

.Footer {
  @apply flex px-[8vw] py-[20px] items-center justify-between;

  @include theme-dark {
    background-color: $app-dark-blue;
  }

  @include theme-light {
    background-color: $app-grey;
  }

  > div {
    @apply flex items-center;

    > span {
      @include theme-dark {
        color: $app-grey;
      }

      @include theme-light {
        color: $app-black;
      }
    }
  }
}

.Footer {
  @include theme-dark {
    color: red;
  }
}